@import "tailwindcss";

:root {
  --font-heading: "Outfit", system-ui, sans-serif;
  --font-body:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, monospace;
  /* --Background colour of the hero section-- */
  --gradient-hero: linear-gradient(
    135deg,
    hsl(168 20% 98%) 0%,
    hsl(168 45% 94%) 50%,
    hsl(168 20% 98%) 100%
  );
  /* --Button Colour-- */
  --primary: hsl(168 76% 32%);
}

@theme inline {
  --font-sans: var(--font-body);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);
  --background-image-hero: var(--gradient-hero);
  --color-primary: hsl(168 76% 32%);
}

body {
  font-family: var(--font-body);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}
